{% extends "base.html" %}

{% load crispy_forms_tags %}


{% block page_title %}
  {% if agenda.pk %}
    Alterar Agendamento
  {% else %}
    Incluir Agendamento
  {% endif %}
{% endblock page_title %}


{% block content %}
  {% if agenda.pk %}
    <h1>Editar Agendamento</h1>
    <hr>
  {% else %}
    <h1>Novo Agendamento</h1>
    <hr>
  {% endif %}
        
        <form method="POST">
            {% csrf_token %}

            {{ form|crispy }}

            <button type="submit" class="btn btn-primary">Salvar</button>
        </form>

{% endblock content %}