{% extends "base.html" %}

{% load crispy_forms_tags %}


{% block page_title %}
  {% if paciente.pk %}
    Alterar Cadastro Paciente
  {% else %}
    Cadastro de Paciente
  {% endif %}
{% endblock page_title %}


{% block content %}
  {% if paciente.pk %}
    <h1>Alterar Cadastro</h1>
    <hr>
  {% else %}
    <h1>Cadastrar Novo Paciente</h1>
    <hr>
  {% endif %}
        
        <form method="POST">
            {% csrf_token %}

            {{ form|crispy }}

            <button type="submit" class="btn btn-primary">Salvar</button>
        </form>

{% endblock content %}